.download__inner {
    padding-top: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .download__inner_left {
    width: 50%;
  }
  
  .download__inner_left_img {
    width: 100%;
    height: 100%;
  }
  .download__inner_left_img > img {
    width: 80%;
    height: 80%;
  }
  
  .shah-palace_download {
    position: relative;
    background: url("../Assets/Images/7.svg"), url('../Assets/Images/4.svg');
    background-repeat: no-repeat;
    background-position-x: -5%, 102.5%;
    background-position-y: top;
    background-size: 20%, 20%;
  }
  
  .downloader__inner_right_media_container {
    width: 40%;
  }
  .downloader__inner_right_media_container > img {
    width: 100%;
    height: 100%;
  }
  .download__inner_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }
  
  .download__inner_right_h5 {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 1.5rem;
    color: rgb(255, 148, 1);
  }
  
  .download__inner_right_h3 {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 3rem;
    color: #2E2E2E;
    width: 90%;
  }
  
  .download__inner_right_par {
    width: 70%;
    font-family: "Open Sans", sans-serif;
    color: #3F3232;
    font-size: 1.3rem;
    font-weight: 600;
  }

  @media (max-width: 1163px) {
    .shah-palace_download {
      background: none;
    }

    .download__inner {
      flex-direction: column-reverse;
      align-items: center;
      gap: 3rem;
    }

    .download__inner_left, .download__inner_right {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .download__inner_left_img {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  

  @media(max-widht:500px){
    .download__inner_right_h3{
      font-size: 2rem;
      width: 100%;
      text-align: center;
    }
  }


  @media (max-width: 390px) {
    .download__inner_right_h3 {
      font-size: 2rem;
      width: 100%;
      text-align: center;
    }

    .downloader__inner_right_media_container {
      width: 90%;
    }
  }

  @media (max-width: 476px) {
    .downloader__inner_right_media_container {
      width: 70%;
    }
  }